*{
    margin:0;
    padding:0;
}

body {
    background: #121212;
}

@media only screen and (max-width: 768px) {
    nav a {
        float: none;
        width: 70%;
        margin: 0;
        padding:0;
      }

      div.first {
        margin-right: 0px;
        margin-bottom: 10px;
    }
  
    div.second {
        margin-left: 0px;
        margin-top: 10px;
    }

    .part{
        margin:0;
    }

    .text{
        margin:0;
    }
}

@media only screen and (min-width: 769px) {
    div.first {
        margin-right: 20px;
        margin-bottom: 150px;
    }

    div.second {
        margin-left: 20px;
        margin-top: 150px;
    }
}

nav {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-size: 25px;
    text-align: left;
    background-image: url("picture_frame.png");
    background-position: center;
    background-size: cover;
    font-family: 'Goldman', cursive;
}

nav a {
    display: block;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 15px;
    background: rgba(148, 76, 42, 0.877);
    box-shadow: 11px 1px 10px 1px rgba(0,0,0,0.74);
    color: thistle;
    text-decoration: none;
}

.part {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    margin: 20px auto;
    width: 75%;
    min-width: 320px;
    min-height: 160px;
}

.pa-gallery-player-widget {
    display: block;
    min-height: 320px;
    max-height: 320px;
    min-width: 320px;
    max-width: 640px;
    flex-grow: 2;
    margin-bottom: 15px;
    border: 30px solid transparent;
    border-image: url(picture_frame_dark2.png) 30 stretch;
}

.text {
    color:#f1f1f1;
    text-align: left;
    font-size: large;
    display: block;
    flex-grow: 1;
    min-width: 320px;
    max-width: 320px;
    margin: 15px 10px;
    border: 5px solid rgb(109, 73, 73);
}

.text img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 175px;
    height: 250px;
}

.text h2 {
    margin-bottom: 8px;
}

label {
    display: block;
}

.content button {
    display: block;
    margin: auto;
    cursor: pointer;
    width: 50%;
    padding: 10px;
    border-radius: 15px;
    background: rgba(148, 76, 42, 0.877);
    box-shadow: 11px 1px 10px 1px rgba(0,0,0,0.74);
  }

  input[type=text], select, textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid rgb(109, 73, 73);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  .collapsible {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    background: rgba(148, 76, 42, 0.877);
    color: white;
    cursor: pointer;
    border-radius: 15px;
    padding: 18px;
    font-size: 15px;
    position: relative;
    font-size: 20px;
  }
  
  .active, .collapsible:hover {
    background: rgba(148, 76, 42, 0.877)
  }
  
  .content {
    text-align: center;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.0s ease-out;
    background-color: #2e2e2e;
  }

  .content label {
      text-align: start;
      margin: auto;
      width: 60%;
  }
